.mainInfo{
	text-align: left;
	color:#c36679;
	margin:auto;
	width:100%;
	display:grid;
	grid-template-areas: 
		'cpus cpus cpus'
		'CpuUsage ArtchitechInf MemoryInf'
	


}

.cpus{
	grid-area: "cpus";

	
}

.CpuUsage{
	grid-area: "CpuUsage";

	
}
.ArtchitechInf{
	grid-area: "ArtchitechInf";

	
}
.MemoryInf{
	grid-area: "MemoryInf";

	
}



.title{
	color:#e2abc7;
}

.cpuname, .cputime, .majorInfo{
	display: grid;
	align-items: center;
	justify-content: space-between;

	grid-auto-columns: auto;
	grid-template-columns: auto auto;
	grid-auto-flow: row;
	grid-gap: 10px;
}


